body {
    font-family: sans;
    line-height: 1.8em;
    font-size: 1.1em;
}

img {
    width:80%;
    max-width:300px;
}

.section {
    padding:10px;
}

.center {
    margin:0 auto;
    text-align: center;
}

.nav {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
}

.nav-button {
    margin: 10px;
    color: gray;
}

.ngl {
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

#title {
    font-size: 1.2em;
    line-height: 2em;
}

#page {
    height: auto;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 90%;
    max-width: 900px;
}

#page a {
    text-decoration: underline;
    color: black;
}


